body{
    min-width: 500px;
    max-width: 100%;
    position: relative;
    padding: 15px;
}
.fullName{
    width: 40px;
    height: 2rem;
}
#minDifficulty{
    width: 4rem;
    height: 2rem;
  
}
#maxDifficulty{
    width: 4rem;
   
}
#questionButton{
    margin-left: 50px;
    height: 35px;
    width: 80px;
  
}
.cont{
    margin-top: 10px;
    margin-bottom: 5px;
}